.fondo{
    background-color:rgb(128, 121, 121) ;
    background-size: cover;
}
.buttonContenedor{
    display: flex;
    justify-content: space-between;
}
.button{
    font-style:normal ;
    font-size: 22px;
    color:grey;
    background-color: red;
    padding-left: 15px;
    padding-right: 15px;
}
.Titulo{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top:10px;
}
.titulo{
    color:rgb(219, 10, 10);
    font-size: 80px;
    text-align: center;
}
header .foto1{
    cursor: pointer;
}
header .foto1:hover{
    transform: scale(1.2);
}
.titulo:hover{
   color:grey;
}

.foto1{
    width: auto;
    height:250px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.italic{
    color: red;
    font-style: italic;
}
.subtitulo{
    font-size: 50px;
    display: flex;
    color: grey;
    font-style: italic;
    justify-content: center;
    background-color: rgb(239, 28, 28);
    background-size: 100%;
    } 
.contenedor{
    display: flex;
    justify-content:space-between;
    margin-left: -70px;
    margin-top: -25px;
}   
.contacto{
    padding-left: 600px;
}

.historia{ 
    margin-top:-10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-style:normal;
    padding: 20px;
    color: white;
    background-color: grey;
    background-size: 100%;
}
.footer{
    color:black;
    font-style: normal;
    font-size: 15px;
    background-color: gray;
    a.button{
        color: rgb(41, 39, 39);
}

}
.imagenes{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: auto;
}


#lista{
    list-style: none;
}
#contactoForm{
    width: 600px;
    height: 400px;
    padding-left: 400px;
    background-color: rgb(128, 121, 121);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
}

   


.formulario{
    padding: 10px 15px;
    background-color:rgb(128, 121, 121);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    
   
    
}
 
.cajaProductos{
    display: flex;
    justify-content: center;
    align-items: center;
}